name: Integration Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  check-rest-httpurlconnection:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Set up the JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - run: ./gradlew :java:testRestSuite -PhttpURLConnection

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: java-build-reports-rest
          path: java/build/reports/

  check-realtime-httpurlconnection:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Set up the JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - run: ./gradlew :java:testRealtimeSuite -PhttpURLConnection

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: java-build-reports-realtime
          path: java/build/reports/
  check-rest-okhttp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Set up the JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - run: ./gradlew :java:testRestSuite

  check-realtime-okhttp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Set up the JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - run: ./gradlew :java:testRealtimeSuite

  check-liveobjects:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Set up the JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - run: ./gradlew runLiveObjectIntegrationTests
